.friends-item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.friends-item:not(:last-child) {
  margin-bottom: 10px;
}
.status-online {
  margin-right: 15px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: darkgreen;
  border-radius: 50%;
}
.status-offline {
  margin-right: 15px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: darkred;
  border-radius: 50%;
}
.friend-avatar {
  margin-right: 15px;
}
.friend-name {
  font-size: 20px;
  font-weight: 700;
}
